*{
    margin: 0;
    padding: 0;
    outline: 0;
}
div{
    position: absolute;
    text-align: center;
    color: rgb(90, 14, 14);
}
.filter{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(126,231,231,1) 42%, rgba(0,212,255,1) 100%);
}
table{

    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    text-align: center;
    /* color: white; */
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 12px 12px;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(32,32,32,.3);
    background: #fafafa;
    text-align: center;
}
th,td{
    padding: 12px 15px;
}
th{
    background: rgb(14, 59, 65);
    color: #fafafa;
    text-transform: uppercase;
}

button {
    color: rgb(0, 0, 0);
    background: rgb(80, 173, 185);
    margin: 6px 0px 6px 0px;
    padding: 7px 6px 5px 7px;
    border: none;
    border-radius: 7px;
}
button:hover{
    background: rgb(24, 97, 107);
}
a{
    /* position: absolute; */
    /* z-index: 4; */
    /* text-align: center; */
    color: rgb(90, 14, 14);
    text-decoration: none;
}
a:hover{
    color: rgb(221, 130, 130);
}

